This notebook contains results analysis for Roman Pogodin's bachelor thesis

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import seaborn as sns

%matplotlib inline

# Gset test
Graphs from https://web.stanford.edu/%7Eyyye/yyye/Gset/

Singval and Schatten were chosen due to memory limits of logdet

# 100k roundings
### SDPLR

In [24]:
suffix = 'relaxed_1_sdplr'
col_names = ['rank4', 'rank5', 'max_cut', 'cut_mean', 'cut_std']
sdp_data = pd.DataFrame(columns=col_names)
singval_data = pd.DataFrame(columns=col_names)
schatten_p10_data = pd.DataFrame(columns=col_names)
schatten_p1_data = pd.DataFrame(columns=col_names)

n_graphs = 31

for i in range(n_graphs):
    sdp_data = pd.concat((sdp_data, pd.read_csv('./gset_results_100k/sdp_gset' + str(i + 1) + suffix, \
                                                names=col_names)))
    singval_data = pd.concat((singval_data, \
                              pd.read_csv('./gset_results_100k/singval_q80_gset' + str(i + 1) + suffix, \
                                          names=col_names)))
    schatten_p10_data = pd.concat((schatten_p10_data, \
                              pd.read_csv('./gset_results_100k/schatten_p10_gset' + str(i + 1) + suffix, \
                                          names=col_names)))
    schatten_p1_data = pd.concat((schatten_p1_data, \
                              pd.read_csv('./gset_results_100k/schatten_p1_gset' + str(i + 1) + suffix, \
                                          names=col_names)))
    
sdp_data.set_index(np.arange(1, n_graphs + 1), inplace=True)
singval_data.set_index(np.arange(1, n_graphs + 1), inplace=True)
schatten_p10_data.set_index(np.arange(1, n_graphs + 1), inplace=True)
schatten_p1_data.set_index(np.arange(1, n_graphs + 1), inplace=True)

sdp_data.drop(['cut_mean', 'cut_std', 'rank5'], axis=1, inplace=True)
singval_data.drop(['cut_mean', 'cut_std', 'rank5'], axis=1, inplace=True)
schatten_p10_data.drop(['cut_mean', 'cut_std', 'rank5'], axis=1, inplace=True)
schatten_p1_data.drop(['cut_mean', 'cut_std', 'rank5'], axis=1, inplace=True)

sdp_data = sdp_data.add_prefix('sdp_')
singval_data = singval_data.add_prefix('singval_')
schatten_p10_data = schatten_p10_data.add_prefix('sch_p10_')
schatten_p1_data =schatten_p1_data.add_prefix('sch_p1_')
data = pd.concat((sdp_data, singval_data, schatten_p10_data, schatten_p1_data), axis=1)

In [25]:
data

,sdp_rank4,sdp_max_cut,singval_rank4,singval_max_cut,sch_p10_rank4,sch_p10_max_cut,sch_p1_rank4,sch_p1_max_cut
1,14,11466,13,11448,15,11451,13,11459
2,15,11436,13,11438,13,11456,14,11430
3,14,11446,14,11445,461,11455,26,11453
4,14,11487,14,11475,319,11511,14,11497
5,13,11462,12,11462,18,11451,12,11471
6,13,2026,13,1989,105,2013,13,2012
7,12,1833,12,1821,12,1834,12,1822
8,12,1834,11,1833,11,1840,12,1831
9,12,1879,12,1872,12,1869,12,1875
10,12,1841,12,1829,12,1818,12,1820
11,22,538,138,538,718,538,273,536
12,13,532,27,536,190,534,41,534
13,11,562,8,560,24,562,8,562
14,14,2994,13,2995,22,2992,14,2999
15,16,2979,99,2982,173,2986,122,2983
16,16,2978,14,2981,195,2984,15,2984
17,16,2978,13,2975,152,2974,15,2974
18,11,924,10,930,12,921,11,929
19,10,850,9,846,9,854,9,851
20,9,888,8,882,8,889,8,884
21,10,868,33,864,52,862,41,863
22,18,13008,18,13006,18,13003,18,13025
23,20,13010,52,12985,78,13010,55,13004
24,19,13000,18,13004,22,13005,19,13010
25,19,13006,19,12988,196,13026,19,12987
26,19,12971,132,12985,181,12969,120,12990
27,18,2988,17,2988,17,3027,18,2989
28,20,2956,20,2948,54,2947,20,2956
29,18,3044,17,3056,23,3050,17,3038
30,17,3076,17,3081,17,3076,17,3067
31,19,2947,18,2955,18,2959,18,2958

In [26]:
f = open('./gset_table_sdplr.txt', 'w')
f.write(data.to_latex())
f.close()

### CVX

In [27]:
suffix = 'relaxed_1_cvx'
col_names = ['rank4', 'rank5', 'max_cut', 'cut_mean', 'cut_std']
sdp_data = pd.DataFrame(columns=col_names)
singval_data = pd.DataFrame(columns=col_names)
schatten_p10_data = pd.DataFrame(columns=col_names)
schatten_p1_data = pd.DataFrame(columns=col_names)

n_graphs = 21

for i in range(n_graphs):
    sdp_data = pd.concat((sdp_data, pd.read_csv('./gset_results_100k/sdp_gset' + str(i + 1) + suffix, \
                                                names=col_names)))
    singval_data = pd.concat((singval_data, \
                              pd.read_csv('./gset_results_100k/singval_q80_gset' + str(i + 1) + suffix, \
                                          names=col_names)))
    schatten_p10_data = pd.concat((schatten_p10_data, \
                              pd.read_csv('./gset_results_100k/schatten_p10_gset' + str(i + 1) + suffix, \
                                          names=col_names)))
    schatten_p1_data = pd.concat((schatten_p1_data, \
                              pd.read_csv('./gset_results_100k/schatten_p1_gset' + str(i + 1) + suffix, \
                                          names=col_names)))
    
sdp_data.set_index(np.arange(1, n_graphs + 1), inplace=True)
singval_data.set_index(np.arange(1, n_graphs + 1), inplace=True)
schatten_p10_data.set_index(np.arange(1, n_graphs + 1), inplace=True)
schatten_p1_data.set_index(np.arange(1, n_graphs + 1), inplace=True)

sdp_data.drop(['cut_mean', 'cut_std', 'rank5'], axis=1, inplace=True)
singval_data.drop(['cut_mean', 'cut_std', 'rank5'], axis=1, inplace=True)
schatten_p10_data.drop(['cut_mean', 'cut_std', 'rank5'], axis=1, inplace=True)
schatten_p1_data.drop(['cut_mean', 'cut_std', 'rank5'], axis=1, inplace=True)

sdp_data = sdp_data.add_prefix('sdp_')
singval_data = singval_data.add_prefix('singval_')
schatten_p10_data = schatten_p10_data.add_prefix('sch_p10_')
schatten_p1_data =schatten_p1_data.add_prefix('sch_p1_')
data = pd.concat((sdp_data, singval_data, schatten_p10_data, schatten_p1_data), axis=1)

In [28]:
data

,sdp_rank4,sdp_max_cut,singval_rank4,singval_max_cut,sch_p10_rank4,sch_p10_max_cut,sch_p1_rank4,sch_p1_max_cut
1,13,11462,13,11448,15,11451,13,11456
2,13,11436,13,11438,13,11456,13,11433
3,14,11446,14,11445,502,11446,28,11453
4,14,11487,14,11471,304,11511,14,11497
5,12,11462,12,11464,18,11451,12,11471
6,13,2024,13,1994,108,2013,13,2016
7,13,1833,12,1821,12,1828,12,1822
8,12,1835,12,1856,109,1846,13,1839
9,12,1879,12,1872,12,1869,12,1875
10,12,1841,12,1825,12,1820,12,1836
11,10,534,6,534,6,534,7,534
12,9,532,8,534,29,536,8,536
13,8,562,8,560,76,562,8,560
14,13,2994,13,2995,22,2994,13,2999
15,13,2979,13,2982,51,2987,13,2981
16,14,2982,14,2981,589,2979,61,2986
17,13,2978,13,2978,439,2973,24,2976
18,10,924,10,930,11,920,10,929
19,9,847,9,846,9,850,9,846
20,9,882,9,887,222,888,20,886
21,9,862,9,865,9,867,9,865

In [29]:
f = open('./gset_table_cvx.txt', 'w')
f.write(data.to_latex())
f.close()